@media screen and (max-width: 1699px) 
   .header__pic
      left: -42px
      max-width: 784px
   .mult__pic
      max-width: 709px
      margin-left: -108px
   .nav__list
      left: 0
   .map__pic
      left: -75px
      top: 8px
      max-width: 320px
   .map__wrap:nth-child(2n) .map__pic
      right: -72px
      top: 18px
   .map__wrap:nth-child(3) .map__pic 
      top: 16px
      left: -60px
@media screen and (max-width: 1499px) 
   .header__pic 
      mix-blend-mode: lighten
      top: -170px
      left: -24px
      position: relative
      max-width: 683px
   .mult__content
      max-width: 777px
   .mult__pic 
      margin-left: -128px
      max-width: 683px
   .map__item
      width: 655px
   .map__content
      max-width: 380px
   .map__pic
      left: -71px
      top: 28px
      max-width: 320px
   .map__wrap:nth-child(2n) .map__pic
      right: -56px
      top: 18px
   .map__wrap:nth-child(3) .map__pic 
      top: 16px
      left: -60px
@media screen and (max-width: 1399px) 
   .header__pic
      max-width: 546px
      top: -133px
      left: -9px
   .mult__content
      max-width: 680px
   .mult__pic
      margin-left: -102px
      margin-right: 0
      max-width: 660px
   .join__pic
      max-width: 927px
   .map__item
      width: 607px
   .map__content
      max-width: 366px
   .map__pic
      left: -71px
      top: 28px
      max-width: 291px
   .map__wrap:nth-child(2n) .map__pic
      right: -56px
      top: 18px
   .map__wrap:nth-child(3) .map__pic 
      top: 16px
      left: -60px
   .block__total
      left: 0
@media screen and (max-width: 1299px) 
   .header__content
      max-width: 600px
   .header
      padding-bottom: 130px
   .mult__content 
      max-width: 586px
   .map__item 
      width: 562px
   .map__content 
      max-width: 302px
   .map__wrap:nth-child(2)
      margin-bottom: 0
   .block-item
      max-width: 207px
@media screen and (max-width: 1199px) 
   .grtvideo-popup
      top: 0
      padding-top: 0
   .burger 
      position: fixed
      flex-direction: column
      right: -150%
      top: 0px
      z-index: 100000
      display: flex
      box-sizing: border-box
      transition: .3s all ease-in-out
      width: auto
      height: auto
      background-color: #000c28
   .burger.active 
      right: 0px
      top: 0px
      max-width: 100%
      padding: 70px 30px
      height: 100vh
      width: 100%
      .nav__list li
         margin-right: 0
      .nav__right 
         display: none !important
   .menu 
      display: flex
      position: absolute
      top: 72px
      right: 10px
   .menu .button 
      position: relative
      display: flex
      z-index: 1000000
      right: 0px
      top: 8px
      width: 40px
      height: 19px
      align-items: center
      justify-content: center
      margin-left: auto
   .menu .button.active 
      position: fixed
      right: 15px
      top: 47px
   .menu .button span 
      position: absolute
      top: calc(50% - 1px)
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: #CE20F3
   .menu .button span::before 
      content: ''
      position: absolute
      top: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: #CE20F3
   .menu .button span::after 
      content: ''
      position: absolute
      bottom: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: #CE20F3
   .menu .button.active span 
      background-color: transparent !important
      width: 24px
      .menu .button.active span::before 
      content: ''
      width: 24px
      top: calc(50% - 2px)
      transform: rotate(45deg)
      background-color: #CE20F3
   .menu .button.active span::after 
      content: ''
      bottom: calc(50% - -7px)
      transform: rotate(-86deg)
      background-color: #CE20F3
      width: 24px
   .burger .nav__list 
      display: block !important
      text-align: center
      max-width: 100%
      a 
         text-align: center
         margin-bottom: 20px
         display: block
   nav .nav__list
      display: none !important
   .header__box
      flex-direction: column
      margin-top: 90px
   .header__pic 
      max-width: 546px
      top: 0
      left: 0
      margin: 0 auto
   .mult__box
      flex-direction: column-reverse
   .mult__content 
      max-width: 100%
   .mult__pic
      margin-left: 0
   .mult 
      padding: 60px 0 100px
   .video__box
      height: 600px
   .header__content 
      max-width: 771px
   .map
      padding: 100px 0
   .map__line
      display: none
   .map__pic
      position: relative
      top: 0 !important
      left: 0 !important
      right: 0 !important
      margin: 0 auto
      display: block
   .map__pic
      max-width: 444px
      margin-bottom: -57px
   .map__content
      max-width: 100%
   .map__wrap
      margin: 0 auto 40px !important
   .items 
      padding: 60px 0
   .items__slider
      width: 100%
   .items__wrap 
      width: 100%
      padding-right: 0
   .join__box
      flex-direction: column-reverse
   .join__content 
      max-width: 100%
      text-align: center
   .join__text
      margin: 30px auto 0
   .join__pic 
      max-width: 927px
      margin: 0 auto
      text-align: center
      left: 0
      display: block
   .join__btn
      margin: 40px auto 0
   .footer .nav__list li 
      margin-right: 40px
   .slick-dots li
      border: 1px solid #CE20F3
      border-radius: 50%
   .slick-dots li button:before
      display: none
   .slick-dots .slick-active 
      background: #CE20F3
   .slick-dots
      margin-bottom: -40px
   nav .nav__right
      margin: 0 auto
   .items__slider .slick-track
      display: flex
   .items__pic 
      height: auto
   .items__info
      left: 50px
   .content-table tr
      td 
         padding: 20px 10px !important
         border-left: none !important
         border-right: none !important
         border-top: none !important
         font-size: 12px
   .adaptive-table td:last-child
      margin-left: 0
   td[data-label="ХЭШ Транзакции"] 
      flex-direction: column
      align-items: center 
      justify-content: center
      &:before 
         margin-right: 0 !important
         margin-bottom: 5px
   .adaptive-table td:last-child
      border-bottom: none
   .block-wrap
      margin-right: 0
      margin-bottom: 40px
   .block-item
      max-width: 243px
   .block__name, .block__buy
      text-align: center
   .block__links
      justify-content: center
   .left-bottom 
      transform: rotate(41deg)
      bottom: 4px
      left: -1px
   .info__btn .left-bottom
      left: -1px
   .info 
      padding: 0px 0 20px
@media ( max-width: 991px )
   .items__info
      top: 31px
      left: 64px
   .items__pic 
      height: auto
      margin-bottom: 30px
   .join__pic
      width: 100%
   footer .nav__box
      flex-direction: column
   .footer .nav__list 
      margin: 25px 0
      max-width: 400px
      width: 100%
      justify-content: space-between
   .footer .nav__list li
      margin-right: 0
   h1, h2 
      font-size: 45px !important
   .join__text 
      margin: 15px auto 0
   .join h2
      line-height: 56px
   .header__btn
      position: relative
      z-index: 2
   .items__el
      padding: 45px 30px
   .adaptive-table tr
      width: 45%
      td 
         flex-wrap: wrap
   // td[data-label="Building 2"]
   //    display: flex
   //    flex-direction: column
   //    align-items: center
   //    justify-content: center
   //    &:before 
   //       margin-right: 0 !important
   //       margin-bottom: 10px
   .info__title 
      font-size: 25px
      margin-bottom: 10px
   .info__btn 
      margin-top: 5px
   .block-wrap 
      width: 100%
      height: auto
      padding: 20px
@media screen and (max-width: 767px)
   nav .nav__right
      display: none !important
   .burger.active .nav__right 
      display: flex !important
      flex-direction: column
   .burger.active .nav__link 
      margin-left: 0
   .nav__btn
      margin: 25px 0
   .nav__socials 
      width: 204px
      justify-content: space-between
   .header__box
      margin-top: 40px
      position: relative
   .header__pic 
      position: absolute
      bottom: 0
      left: 0
      top: 84px
      opacity: 0.2
   .header 
      padding-bottom: 200px
   .mult__pic
      width: 100%
   .youtube-link .svg
      width: 100%
   .youtube-link 
      margin-left: -50px
      margin-top: -50px
      width: 100px
      height: 100px
   .accordion-container 
      clip-path: polygon(0% 3%, 4% 0%, 96% 0%, 100% 3.5%, 100% 97%, 96% 100%, 4% 100%, 0px 98%)
   .set > a
      padding: 20px 0
   .set > a p
      font-size: 19px
      line-height: 27px
   .adaptive-table tr
      width: 100%
      margin-right: 0
      margin-left: 0
   .block__wrap
      flex-direction: column
   .block__total 
      left: 0
      top: -42px
      margin-bottom: 25px
   .block 
      padding-bottom: 100px
@media screen and (max-width: 576px)
   input, textarea, select 
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   nav
      padding: 25px 0
   .menu
      top: 38px
   h1, h2 
      font-size: 30px !important
      line-height: 41px
   .header__btn
      width: 100%
   .header__text 
      margin-top: 25px
      font-size: 16px
      line-height: 22px
      max-width: 538px
   .header__pic
      left: -121px
      top: 20px
   .mult__name 
      margin-bottom: 25px
   .mult__text
      font-size: 16px
   .video__box 
      height: 400px
   .youtube-link
      margin-top: -78px
   .map__sub
      font-size: 16px
   .map, .mult 
      padding: 60px 0
   .map__item
      width: 100%
      padding: 60px 20px
      clip-path: polygon(0% 8%, 5% 0%, 95% 0%, 100% 8%, 100% 93%, 95% 100%, 6% 100%, 0 94%)
   .map__wrap
      width: 100%
   .map__pic
      max-width: 300px
   .map__box
      margin: 60px auto 0
   .map__name 
      font-size: 30px
      text-align: center
      line-height: 32px
      margin-bottom: 25px
   .map__list li
      font-size: 16px
   .items__pic
      height: auto
      margin-bottom: 5px
      margin-top: 42px
   .items__el
      padding: 45px 10px
      clip-path: polygon(0% 6%, 9% 0%, 91% 0%, 100% 5%, 100% 95%, 92% 100%, 7% 100%, 0 95%)
   .slick-dots 
      margin-bottom: -20px
   .slick-dots li
      width: 15px
      height: 15px
   .items__info 
      top: 24px
      left: 50%
      margin-left: -54px
   .items__name
      line-height: 31px
   .faq 
      padding: 70px 0
   .items__slider .slick-list
      overflow: hidden
   .items__slider 
      margin: 50px 0px 0 
   .accordion-container
      padding: 15px
   .set > a p 
      font-size: 16px
      line-height: 24px
   .content p
      font-size: 14px
   .join h2 
      line-height: 40px
   .footer .nav__list
      text-align: center
      flex-direction: column
      margin-bottom: 40px 
      li 
         margin-bottom: 20px
         &:last-child
            margin-bottom: 0
   .join__btn
      width: 100%
   .set > a
      background-size: 30px !important
      transition: 0s
   .btn2 
      clip-path: polygon(0% 18%, 2% 0%, 98% 0%, 100% 17%, 100% 88%, 98% 100%, 2% 100%, 0 85%)
   .mult__content
      position: relative
      z-index: 2
   .header__pic, .header__content
      -o-transition-property: none !important
      -moz-transition-property: none !important
      -ms-transition-property: none !important
      -webkit-transition-property: none !important
      transition-property: none !important
      -o-transform: none !important
      -moz-transform: none !important
      -ms-transform: none !important
      -webkit-transform: none !important
      transform: none !important
      -webkit-animation: none !important
      -moz-animation: none !important
      -o-animation: none !important
      -ms-animation: none !important
      animation: none !important
   .block-wrap__pic
      width: 100%
   .block-item
      flex-direction: column
   .block-item__fig
      margin-right: 0
      margin-bottom: 10px
      text-align: center
   .block-item__name
      text-align: center
   .block-item__num
      text-align: center
      margin-top: 5px
   .block__flex
      justify-content: center
   .block__links
      flex-direction: column
   .block__links a:first-child 
      width: 180px
      margin: 0 auto 20px
      font-size: 12px
   .block__btn2
      max-width: 180px
      font-size: 12px
      margin: 0 auto
   .info__title 
      font-size: 21px
      margin-bottom: 5px
   .arcticmodal-container_i
      width: 100%
   .popup__title 
      font-size: 14px
      line-height: 140%
@media screen and (max-width: 390px)
   .btn2
      clip-path: polygon(0% 23%, 5% 0%, 95% 0%, 100% 20%, 100% 84%, 95% 100%, 5% 100%, 0 80%)
   .popup-call__box
      clip-path: polygon(0% 3%, 4% 0%, 96% 0%, 100% 3%, 100% 98%, 96% 100%, 5% 100%, 0px 98%)