@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  background: url(img/bg.png) no-repeat center center/cover;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF; }

a {
  text-decoration: none;
  box-sizing: border-box; }
  a:hover {
    color: #CE20F3; }

.container {
  padding: 0 15px;
  max-width: 1465px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 540px; } }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  width: 180px;
  height: 50px;
  position: relative;
  z-index: 0;
  font-weight: 800;
  font-size: 14px;
  color: #FFFFFF;
  position: relative; }

.left-up {
  background: #CD21F3;
  transform: rotate(131deg);
  top: 5px;
  left: -1px; }

.left-bottom {
  background: #CD21F3;
  transform: rotate(45deg);
  bottom: 5px;
  left: -1px; }

.right-up {
  background: #43B4FB;
  transform: rotate(50deg);
  top: 5px;
  right: -2px; }

.right-bottom {
  background: #43B4FB;
  transform: rotate(-51deg);
  bottom: 5px;
  right: -2px; }

.btn1 div {
  position: absolute;
  width: 14px;
  height: 2px; }

.btn1::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  clip-path: polygon(0% 23%, 6% 0%, 95% 0%, 100% 23%, 100% 77%, 95% 100%, 6% 100%, 0 80%);
  background: linear-gradient(to right, #CD21F3, #43B4FB);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, dlinear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude; }

.btn2 {
  background: linear-gradient(90.34deg, #CE20F3 0.24%, #41B7FC 99.71%);
  clip-path: polygon(0% 23%, 5% 0%, 95% 0%, 100% 19%, 100% 88%, 94% 100%, 6% 100%, 0 80%); }
  .btn2:hover {
    color: #41B7FC; }

.d-flex {
  display: flex; }

.body-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  margin-top: auto; }

h1 {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0; }

.grad {
  background-image: linear-gradient(to right, #CE20F3, #41B7FC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

h2 {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

.svg {
  transition: all 0.5s ease; }

a {
  transition: all 0.5s ease;
  box-sizing: border-box; }

li a {
  transition: all 0.5s ease; }

button {
  cursor: pointer;
  box-sizing: border-box; }

textarea:focus {
  outline: none; }

input {
  box-sizing: border-box; }
  input:focus-visible {
    outline: initial; }

path {
  transition: 0.5s; }

div {
  box-sizing: border-box; }

@font-face {
  font-family: 'Druk Wide';
  src: url("DrukWide-Bold.eot");
  src: url("DrukWide-Bold.eot?#iefix") format("embedded-opentype"), url("DrukWide-Bold.woff2") format("woff2"), url("DrukWide-Bold.woff") format("woff"), url("DrukWide-Bold.ttf") format("truetype"), url("DrukWide-Bold.svg#DrukWide-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.video__box {
  position: relative;
  width: 100%;
  height: 867px;
  margin: 0 auto;
  overflow: hidden; }

.video__pic {
  width: 100%;
  position: relative;
  z-index: 1;
  object-fit: cover;
  height: 100%; }

.youtube-link .svg, .youtube-link path {
  transition: 0.5s; }

.youtube-link {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -88px;
  margin-top: -88px;
  z-index: 2;
  width: 176px;
  height: 176px;
  transition: 1s;
  background: transparent;
  border: none; }
  .youtube-link:hover {
    transform: scale(1.1); }

.grtvideo-popup {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  padding-top: 100px; }

.grtvideo-popup-content {
  margin-top: 50px;
  width: 95%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  position: relative; }

.grtvideo-popup-close {
  position: absolute;
  top: -35px;
  right: 0;
  color: #FFF;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s; }
  .grtvideo-popup-close:hover {
    transform: rotate(90deg); }

.grtyoutube-iframe {
  width: 100%;
  height: 480px; }

.mult {
  padding: 60px 0 228px;
  position: relative;
  margin-top: -105px; }

.mult__pic {
  margin-left: -220px;
  margin-right: -13px;
  top: 10px;
  position: relative; }

.mult__box {
  align-items: center;
  position: relative; }

.mult__fig {
  position: absolute;
  left: 0px;
  z-index: -1;
  top: 0; }

.mult__name {
  margin-bottom: 47px; }

.mult__content {
  max-width: 793px;
  flex: 1 0 auto; }

.mult__text {
  line-height: 140%;
  margin-bottom: 20px; }
  .mult__text:last-child {
    margin-bottom: 0; }

.map {
  padding: 218px 0 150px;
  position: relative; }
  .map .container {
    max-width: 1551px; }
  .map h2 {
    text-align: center; }

.map__fig {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1; }

.map__sub {
  text-align: center;
  line-height: 140%;
  margin: 15px auto 0;
  max-width: 777px; }

.map__box {
  width: 100%;
  margin: 89px auto 0; }

.map__wrap {
  position: relative;
  width: max-content; }
  .map__wrap:nth-child(2n) {
    margin-left: auto; }
    .map__wrap:nth-child(2n) .map__content {
      margin-left: 0; }
    .map__wrap:nth-child(2n) .map__pic {
      left: inherit;
      right: -183px; }
  .map__wrap:nth-child(2) {
    margin-bottom: 68px; }
    .map__wrap:nth-child(2) .map__pic {
      top: -72px; }
  .map__wrap:nth-child(3) .map__pic {
    top: -33px;
    left: -157px; }

.map__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px 55px;
  width: 716px;
  height: auto;
  background: #080F32;
  margin-bottom: 11px;
  clip-path: polygon(0% 18%, 5% 0%, 95% 0%, 100% 16%, 100% 84%, 95% 100%, 6% 100%, 0 87%); }

.map__pic {
  position: absolute;
  left: -183px;
  top: -39px;
  z-index: 2;
  max-width: 444px; }

.map__content {
  max-width: 450px;
  margin-left: auto; }

.map__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  font-family: 'Druk Wide';
  margin-bottom: 19px; }

.map__list {
  margin-left: 11px; }
  .map__list li {
    margin-bottom: 20px;
    display: flex; }
    .map__list li:last-child {
      margin-bottom: 0; }
    .map__list li::before {
      content: "";
      display: inline-block;
      background: #FFF;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      flex: 1 0 auto;
      max-width: 5px;
      margin-right: 10px;
      margin-top: 10px; }

.map__line {
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 546px; }

.items {
  padding: 126px 0 70px; }
  .items h2 {
    text-align: center; }
  .items .container {
    max-width: 1763px; }

.items__slider {
  margin: 50px -8px 0;
  width: 1743px; }
  .items__slider .slick-list {
    overflow: visible; }

.items__el {
  height: auto;
  padding: 45px 30px 20px;
  text-align: center;
  position: relative;
  display: flex;
  margin: 0 8px;
  clip-path: polygon(0% 11%, 9% 0%, 91% 0%, 100% 11%, 100% 89%, 91% 100%, 8% 100%, 0 89%); }
  .items__el:hover .items__name {
    color: #CE20F3; }
  .items__el:nth-child(1), .items__el:nth-child(5) {
    background: linear-gradient(227.77deg, #1E9FEA -7.6%, #491281 70.84%); }
    .items__el:nth-child(1) .items__info, .items__el:nth-child(5) .items__info {
      background: #2782D4; }
  .items__el:nth-child(2), .items__el:nth-child(6) {
    background: linear-gradient(227.77deg, #2BD870 -7.6%, #10312A 100.75%); }
    .items__el:nth-child(2) .items__info, .items__el:nth-child(6) .items__info {
      background: #1DCD6B; }
  .items__el:nth-child(3), .items__el:nth-child(7) {
    background: linear-gradient(227.77deg, #E2CE1A -7.6%, #CC4E07 100.75%); }
    .items__el:nth-child(3) .items__info, .items__el:nth-child(7) .items__info {
      background: #BC5B05; }
  .items__el:nth-child(4), .items__el:nth-child(8) {
    background: linear-gradient(225.7deg, #CA23F3 -6.08%, #410060 100.72%); }
    .items__el:nth-child(4) .items__info, .items__el:nth-child(8) .items__info {
      background: #690787; }

.items__pic {
  width: 100%;
  object-fit: cover;
  height: 300px; }

.items__info {
  align-items: center;
  width: 114px;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 30px;
  clip-path: polygon(0% 23%, 9% 0%, 91% 0%, 100% 23%, 100% 81%, 91% 100%, 8% 100%, 0 76%); }

.items__sum {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  margin-left: 11px; }

.items__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Druk Wide';
  margin-bottom: 14px;
  color: #fff;
  display: block; }

.items__text {
  font-size: 16px;
  line-height: 120%; }

.items__wrap {
  width: 1920px;
  padding-right: 200px; }

.accordion-container {
  position: relative;
  height: auto;
  max-width: 1146px;
  width: 100%;
  margin: 63px auto 0;
  background: linear-gradient(74.01deg, #282696 -1.04%, #0A154F 105.06%);
  padding: 15px 40px;
  clip-path: polygon(0% 6%, 4% 0%, 96% 0%, 100% 7%, 100% 94%, 96% 100%, 4% 100%, 0px 95%); }

.set {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: 0.5s; }
  .set:hover a p {
    color: #CE20F3; }
  .set:last-child a {
    border: none; }
  .set:last-child .content {
    border: none; }

.set > a {
  display: block;
  text-decoration: none;
  transition: all 0.2s linear;
  height: auto;
  width: 100%;
  background: url(img/up.svg) no-repeat 100% 50%;
  padding: 40px 0;
  border-bottom: 1px solid #393DA2;
  transition: 0.5s; }
  .set > a p {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    font-family: 'Druk Wide';
    transition: 0.5s;
    padding-right: 70px; }

.set > a.active {
  padding-bottom: 15px;
  background: url(img/down.svg) no-repeat 100% 50%;
  border: none;
  padding-top: 18px; }

.content {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: 25px;
  border-bottom: 1px solid #393DA2; }
  .content p {
    line-height: 140%;
    font-size: 16px;
    max-width: 1010px; }

.faq {
  padding: 200px 0 70px; }
  .faq h2 {
    text-align: center; }

.join {
  padding: 21px 0; }
  .join h2 {
    font-size: 86px;
    line-height: 86px; }

.join__box {
  align-items: center; }

.join__content {
  max-width: 700px;
  flex: 1 0 auto; }

.join__text {
  line-height: 22px;
  margin-top: 50px;
  max-width: 549px; }

.join__btn {
  width: 220px;
  height: 55px;
  margin-top: 40px; }
  .join__btn .svg {
    margin-left: 10px; }

.join__pic {
  position: relative;
  top: -2px;
  left: -232px; }

.octagonWrap {
  float: left;
  position: relative; }

.octagon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.octagon:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background: transparent;
  content: '';
  border: 3px solid #CE20F3; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.preloader-remove {
  opacity: 0;
  z-index: -10; }

@keyframes modal-video {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px); }
  to {
    transform: translate(0, 0); } }

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.modal-video-close {
  opacity: 0; }

.modal-video-close .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px); }

.modal-video-body {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table; }

@media screen and (min-width: 992px) {
  .modal-video-body {
    width: calc(100% - 40%); } }

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
  transition: 0.5s; }
  .modal-video-close-btn:hover {
    transform: scale(1.2); }

.modal-video-close-btn:before {
  transform: rotate(45deg); }

.modal-video-close-btn:after {
  transform: rotate(-45deg); }

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #41b7fc;
  border-radius: 5px;
  margin-top: -6px; }

.header .header__box_block {
  align-items: center;
  margin-top: 38px; }

.block__links {
  position: relative;
  top: -23px; }
  .block__links a:first-child {
    margin-right: 15px; }

.block__sum {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Druk Wide';
  display: block; }

.block__total {
  position: relative;
  top: -23px;
  left: -35px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #080930;
  clip-path: polygon(0% 9%, 7% 0%, 93% 0%, 100% 10%, 100% 19%, 100% 90%, 94% 100%, 6% 100%, 0 88%);
  padding: 29px 26px 40px; }
  .block__total p {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF; }

.block__wrap {
  align-items: center;
  justify-content: space-between; }

.block-item {
  align-items: center;
  width: 100%;
  max-width: 243px;
  margin-bottom: 20px; }
  .block-item__name {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%; }
  .block-item__num {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Druk Wide'; }
  .block-item:nth-child(1) .block-item__fig {
    background: #41B7FC; }
  .block-item:nth-child(2) .block-item__fig {
    background: #41FC5F; }
  .block-item:nth-child(3) .block-item__fig {
    background: #CE20F3; }
  .block-item:nth-child(4) .block-item__fig {
    background: #F32085; }
  .block-item__fig {
    clip-path: polygon(0% 24%, 50% 0%, 100% 22%, 100% 78%, 50% 100%, 100% 100%, 50% 100%, 0 78%);
    width: 50px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: 'Druk Wide';
    flex: 1 0 auto;
    max-width: 50px;
    margin-right: 18px; }

.block__flex {
  align-items: center;
  margin: 35px 0 60px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 517px;
  justify-content: space-between; }

.block__buy {
  font-size: 14px;
  line-height: 140%; }

.block__link {
  color: #C727F3; }
  .block__link:hover {
    color: #43B4FB; }

.block__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
  font-family: 'Druk Wide';
  margin-bottom: 13px; }

.block-wrap {
  position: relative;
  width: 566px;
  height: 517px;
  background: linear-gradient(227.77deg, #1E9FEA -7.6%, #491281 70.84%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 70px; }
  .block-wrap__logo {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 35px; }
  .block-wrap__pic {
    width: 500px;
    object-fit: cover; }

.block__btn2 {
  width: auto;
  padding: 0 22px; }

.info {
  padding: 100px 0 20px; }
  .info__block {
    background: #080930;
    clip-path: polygon(0% 24%, 50% 0%, 100% 22%, 100% 78%, 50% 100%, 100% 100%, 50% 100%, 0 78%);
    width: 45px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 50px;
    padding-bottom: 2px; }
  .info__name {
    margin-left: 11px; }
  .info__flex {
    align-items: center; }
  .info__btn {
    color: #41B7FC;
    width: max-content;
    min-width: 176px;
    height: 44px;
    padding: 0 20px;
    font-weight: 400; }
    .info__btn .left-bottom {
      bottom: 4px;
      left: -2px; }
    .info__btn .left-up {
      top: 5px;
      left: -2px; }
  .info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    font-family: 'Druk Wide';
    color: #FFFFFF;
    margin-bottom: 30px; }

.adaptive-table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse !important;
  border-spacing: 0px 15px !important; }
  .adaptive-table td {
    padding: 27px 0px;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    color: #FFFFFF; }
    .adaptive-table td:last-child {
      margin-left: 0;
      padding-right: 0px;
      text-align: center;
      padding-left: 0px; }

@media (max-width: 1199px) {
  .adaptive-table a {
    font-size: 12px; }
  .adaptive-table thead, .adaptive-table .profile__head {
    display: none; }
  .adaptive-table tbody, .adaptive-table .adaptive-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0 none;
    overflow: hidden !important;
    padding-top: 10px;
    padding-bottom: 10px; }
  .adaptive-table tr {
    margin: 10px 0;
    width: 48%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #456BA5 !important; }
  .adaptive-table td, .adaptive-table .profile__row .active {
    display: flex;
    justify-content: space-between; }
  .adaptive-table td[data-label] {
    justify-content: space-between;
    text-align: right; }
  .adaptive-table td[data-label]:before {
    line-height: 120%;
    content: attr(data-label);
    display: block;
    white-space: inherit;
    opacity: .7;
    text-align: left;
    margin-right: 20px; } }

.content-table {
  border-collapse: collapse;
  margin-bottom: 17px; }
  .content-table tr {
    border-bottom: 1px solid #456BA5;
    box-sizing: border-box; }
    .content-table tr:last-child {
      border: none; }
  .content-table thead tr {
    padding: 0px 0px 5px;
    border-spacing: initial;
    box-shadow: initial; }
    .content-table thead tr td {
      font-weight: 400;
      font-size: 14px;
      color: white;
      padding: 0px 0px 20px;
      font-weight: 700 !important; }
      .content-table thead tr td:last-child {
        padding-left: 40px; }
  @media (max-width: 768px) {
    .content-table {
      background: transparent;
      margin-top: 0; } }

.content-table__row {
  border-collapse: separate;
  border-spacing: inherit;
  background: transparent;
  margin-bottom: 15px; }
  .content-table__row:nth-child(2) .token__progress {
    width: 20%; }
  .content-table__row:nth-child(3) .token__progress {
    width: 48%; }
  .content-table__row:nth-child(4) .token__progress {
    width: 71%; }
  .content-table__row td:nth-child(1) {
    text-align: left; }
    @media (max-width: 1199px) {
      .content-table__row td:nth-child(1) {
        padding-left: 15px; } }

.content-table {
  border-collapse: separate; }
  @media (max-width: 991px) {
    .content-table tr {
      margin: 15px; }
      .content-table tr:nth-child(n+7) {
        display: none; } }
  @media (max-width: 767px) {
    .content-table tr {
      width: 100%;
      overflow: hidden; } }

.content-table thead tr {
  background: transparent; }
  .content-table thead tr td {
    color: #FFFFFF !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px; }

.content-table tbody tr:first-child td:nth-child(2) {
  width: auto; }

.content-table_block .content-table__link .icon, .content-table_block .content-table__send .icon {
  width: 14px;
  height: 14px;
  margin-left: 9px; }

.content-table_block td {
  padding: 22px 0; }

.content-table_block thead tr td:last-child {
  padding-left: 0; }

.content-table_block td:last-child {
  display: table-cell;
  padding-left: 0;
  padding-right: 40px; }

.content-table {
  border-collapse: separate !important;
  border-spacing: 0px !important; }
  .content-table thead td {
    border-bottom: 1px solid #456BA5;
    padding-bottom: 5px; }
    .content-table thead td:first-child {
      border-radius: 5px 0 0 0px !important; }
    .content-table thead td:last-child {
      border-radius: 0px 5px 0 0px !important; }
  .content-table thead td:first-child {
    border-radius: 0px 0 0 5px;
    border-right: none;
    border-top: none; }
  .content-table thead td:last-child {
    border-radius: 0px 0px 5px 0px;
    border-left: none;
    border-top: none; }
  .content-table td {
    border: none;
    border-bottom: 1px solid #456BA5; }

/*POPUP*/
.popup__item {
  position: relative; }

.popup__value {
  position: absolute;
  right: 16px;
  top: 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF; }

.popup__name {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
  font-family: 'Druk Wide';
  margin-bottom: 35px; }

.popup__info {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 100%; }

.popup__form {
  width: 100%; }

.popup__label {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 8px;
  display: block; }

.popup__input {
  width: 100%;
  height: 55px;
  background: #080930;
  border-radius: 10px;
  padding-left: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
  transition: 0.5s;
  border: 1px solid transparent; }
  .popup__input:focus {
    border: 1px solid #41B7FC;
    transition: 0.5s; }

.popup__title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  font-family: 'Druk Wide';
  margin: 40px 0 30px; }

.popup__btn {
  margin-top: 40px;
  width: 100%;
  border: none;
  clip-path: polygon(0% 23%, 2% 0%, 98% 0%, 100% 18%, 100% 79%, 98% 100%, 2% 100%, 0 80%); }

.box-modal__close:hover {
  transform: rotate(90deg); }

.box-modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  transition: all 0.5s ease;
  z-index: 100;
  cursor: pointer; }
  @media (max-width: 576px) {
    .box-modal__close {
      right: 15px;
      top: 15px; } }

.box-modal {
  position: relative; }

.popup-call__box {
  position: absolute;
  margin-left: -288px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 566px;
  height: auto;
  background: linear-gradient(49.25deg, #06055A 16.99%, #0A185F 88.78%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 48px 95px 67px;
  clip-path: polygon(0% 6%, 4% 0%, 96% 0%, 100% 7%, 100% 94%, 96% 100%, 4% 100%, 0px 95%); }
  @media screen and (max-width: 768px) {
    .popup-call__box {
      width: 500px;
      margin-left: -250px;
      padding: 40px 20px; } }
  @media screen and (max-width: 576px) {
    .popup-call__box {
      width: 100% !important;
      left: 0 !important;
      margin-left: 0 !important; } }

input::-webkit-input-placeholder {
  color: #FFFFFF !important;
  font-size: 14px; }

input::-moz-placeholder {
  color: #FFFFFF !important;
  font-size: 14px; }

input:-ms-input-placeholder {
  color: #FFFFFF !important;
  font-size: 14px; }

input:-moz-placeholder {
  color: #FFFFFF !important;
  font-size: 14px; }

.popup__check label {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0 auto 5px;
  width: 169px;
  cursor: pointer;
  transition: 0.5s; }

input#agree {
  margin-right: 14px;
  width: 25px;
  height: 25px;
  border: 1px solid #D7D7E4;
  flex: 1 0 auto;
  max-width: 20px; }

.popup__check {
  margin-bottom: 10px;
  cursor: poiner;
  transition: 0.5s; }
  .popup__check:hover label {
    color: #41B7FC; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin: -5px 12px 0 0;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
  width: 25px;
  height: 25px;
  border: 2px solid #2324AA;
  border-radius: 3px; }

input[type=checkbox]:checked + label:before {
  color: white;
  background: #2324AA; }

.footer {
  padding: 92px 0 53px; }
  .footer .nav__list {
    left: 0; }

.burger, .menu {
  display: none; }

nav .container, footer .container {
  padding: 0 15px;
  max-width: 1758px;
  margin: 0 auto; }

nav {
  padding: 50px 0; }

.nav__box {
  justify-content: space-between;
  align-items: center; }

.nav__list {
  left: -127px;
  flex-wrap: wrap;
  position: relative;
  top: 4px; }
  .nav__list li {
    margin-right: 70px;
    margin-bottom: 5px; }
    .nav__list li:hover a {
      color: #CE20F3; }
    .nav__list li:last-child {
      margin-right: 0; }
    .nav__list li a {
      color: #FFFFFF; }

.nav__btn {
  margin-left: 28px; }

.nav__right {
  align-items: center;
  position: relative;
  top: 5px; }

.nav__link {
  display: block;
  margin-left: 10px; }
  .nav__link:hover #one {
    fill: #CE20F3; }

.header {
  position: relative; }

.header__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }

.header__content {
  max-width: 725px;
  flex: 1 0 auto; }

.header__text {
  margin-top: 40px;
  line-height: 22px;
  max-width: 538px; }

.header__btn {
  margin-top: 40px;
  width: 220px;
  height: 50px; }

.header__box {
  margin-top: 188px;
  align-items: flex-start;
  position: relative;
  z-index: 2; }

.header__pic {
  mix-blend-mode: lighten;
  top: -200px;
  left: -60px;
  position: relative;
  max-width: 852px; }

@media screen and (max-width: 1699px) {
  .header__pic {
    left: -42px;
    max-width: 784px; }
  .mult__pic {
    max-width: 709px;
    margin-left: -108px; }
  .nav__list {
    left: 0; }
  .map__pic {
    left: -75px;
    top: 8px;
    max-width: 320px; }
  .map__wrap:nth-child(2n) .map__pic {
    right: -72px;
    top: 18px; }
  .map__wrap:nth-child(3) .map__pic {
    top: 16px;
    left: -60px; } }

@media screen and (max-width: 1499px) {
  .header__pic {
    mix-blend-mode: lighten;
    top: -170px;
    left: -24px;
    position: relative;
    max-width: 683px; }
  .mult__content {
    max-width: 777px; }
  .mult__pic {
    margin-left: -128px;
    max-width: 683px; }
  .map__item {
    width: 655px; }
  .map__content {
    max-width: 380px; }
  .map__pic {
    left: -71px;
    top: 28px;
    max-width: 320px; }
  .map__wrap:nth-child(2n) .map__pic {
    right: -56px;
    top: 18px; }
  .map__wrap:nth-child(3) .map__pic {
    top: 16px;
    left: -60px; } }

@media screen and (max-width: 1399px) {
  .header__pic {
    max-width: 546px;
    top: -133px;
    left: -9px; }
  .mult__content {
    max-width: 680px; }
  .mult__pic {
    margin-left: -102px;
    margin-right: 0;
    max-width: 660px; }
  .join__pic {
    max-width: 927px; }
  .map__item {
    width: 607px; }
  .map__content {
    max-width: 366px; }
  .map__pic {
    left: -71px;
    top: 28px;
    max-width: 291px; }
  .map__wrap:nth-child(2n) .map__pic {
    right: -56px;
    top: 18px; }
  .map__wrap:nth-child(3) .map__pic {
    top: 16px;
    left: -60px; }
  .block__total {
    left: 0; } }

@media screen and (max-width: 1299px) {
  .header__content {
    max-width: 600px; }
  .header {
    padding-bottom: 130px; }
  .mult__content {
    max-width: 586px; }
  .map__item {
    width: 562px; }
  .map__content {
    max-width: 302px; }
  .map__wrap:nth-child(2) {
    margin-bottom: 0; }
  .block-item {
    max-width: 207px; } }

@media screen and (max-width: 1199px) {
  .grtvideo-popup {
    top: 0;
    padding-top: 0; }
  .burger {
    position: fixed;
    flex-direction: column;
    right: -150%;
    top: 0px;
    z-index: 100000;
    display: flex;
    box-sizing: border-box;
    transition: .3s all ease-in-out;
    width: auto;
    height: auto;
    background-color: #000c28; }
  .burger.active {
    right: 0px;
    top: 0px;
    max-width: 100%;
    padding: 70px 30px;
    height: 100vh;
    width: 100%; }
    .burger.active .nav__list li {
      margin-right: 0; }
    .burger.active .nav__right {
      display: none !important; }
  .menu {
    display: flex;
    position: absolute;
    top: 72px;
    right: 10px; }
  .menu .button {
    position: relative;
    display: flex;
    z-index: 1000000;
    right: 0px;
    top: 8px;
    width: 40px;
    height: 19px;
    align-items: center;
    justify-content: center;
    margin-left: auto; }
  .menu .button.active {
    position: fixed;
    right: 15px;
    top: 47px; }
  .menu .button span {
    position: absolute;
    top: calc(50% - 1px);
    transition: .3s all ease-in-out;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background-color: #CE20F3; }
  .menu .button span::before {
    content: '';
    position: absolute;
    top: -8px;
    transition: .3s all ease-in-out;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background-color: #CE20F3; }
  .menu .button span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    transition: .3s all ease-in-out;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background-color: #CE20F3; }
  .menu .button.active span {
    background-color: transparent !important;
    width: 24px;
    content: '';
    width: 24px;
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #CE20F3; }
  .menu .button.active span::after {
    content: '';
    bottom: calc(50% - -7px);
    transform: rotate(-86deg);
    background-color: #CE20F3;
    width: 24px; }
  .burger .nav__list {
    display: block !important;
    text-align: center;
    max-width: 100%; }
    .burger .nav__list a {
      text-align: center;
      margin-bottom: 20px;
      display: block; }
  nav .nav__list {
    display: none !important; }
  .header__box {
    flex-direction: column;
    margin-top: 90px; }
  .header__pic {
    max-width: 546px;
    top: 0;
    left: 0;
    margin: 0 auto; }
  .mult__box {
    flex-direction: column-reverse; }
  .mult__content {
    max-width: 100%; }
  .mult__pic {
    margin-left: 0; }
  .mult {
    padding: 60px 0 100px; }
  .video__box {
    height: 600px; }
  .header__content {
    max-width: 771px; }
  .map {
    padding: 100px 0; }
  .map__line {
    display: none; }
  .map__pic {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    display: block; }
  .map__pic {
    max-width: 444px;
    margin-bottom: -57px; }
  .map__content {
    max-width: 100%; }
  .map__wrap {
    margin: 0 auto 40px !important; }
  .items {
    padding: 60px 0; }
  .items__slider {
    width: 100%; }
  .items__wrap {
    width: 100%;
    padding-right: 0; }
  .join__box {
    flex-direction: column-reverse; }
  .join__content {
    max-width: 100%;
    text-align: center; }
  .join__text {
    margin: 30px auto 0; }
  .join__pic {
    max-width: 927px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    display: block; }
  .join__btn {
    margin: 40px auto 0; }
  .footer .nav__list li {
    margin-right: 40px; }
  .slick-dots li {
    border: 1px solid #CE20F3;
    border-radius: 50%; }
  .slick-dots li button:before {
    display: none; }
  .slick-dots .slick-active {
    background: #CE20F3; }
  .slick-dots {
    margin-bottom: -40px; }
  nav .nav__right {
    margin: 0 auto; }
  .items__slider .slick-track {
    display: flex; }
  .items__pic {
    height: auto; }
  .items__info {
    left: 50px; }
  .content-table tr td {
    padding: 20px 10px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    font-size: 12px; }
  .adaptive-table td:last-child {
    margin-left: 0; }
  td[data-label="ХЭШ Транзакции"] {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    td[data-label="ХЭШ Транзакции"]:before {
      margin-right: 0 !important;
      margin-bottom: 5px; }
  .adaptive-table td:last-child {
    border-bottom: none; }
  .block-wrap {
    margin-right: 0;
    margin-bottom: 40px; }
  .block-item {
    max-width: 243px; }
  .block__name, .block__buy {
    text-align: center; }
  .block__links {
    justify-content: center; }
  .left-bottom {
    transform: rotate(41deg);
    bottom: 4px;
    left: -1px; }
  .info__btn .left-bottom {
    left: -1px; }
  .info {
    padding: 0px 0 20px; } }

@media (max-width: 991px) {
  .items__info {
    top: 31px;
    left: 64px; }
  .items__pic {
    height: auto;
    margin-bottom: 30px; }
  .join__pic {
    width: 100%; }
  footer .nav__box {
    flex-direction: column; }
  .footer .nav__list {
    margin: 25px 0;
    max-width: 400px;
    width: 100%;
    justify-content: space-between; }
  .footer .nav__list li {
    margin-right: 0; }
  h1, h2 {
    font-size: 45px !important; }
  .join__text {
    margin: 15px auto 0; }
  .join h2 {
    line-height: 56px; }
  .header__btn {
    position: relative;
    z-index: 2; }
  .items__el {
    padding: 45px 30px; }
  .adaptive-table tr {
    width: 45%; }
    .adaptive-table tr td {
      flex-wrap: wrap; }
  .info__title {
    font-size: 25px;
    margin-bottom: 10px; }
  .info__btn {
    margin-top: 5px; }
  .block-wrap {
    width: 100%;
    height: auto;
    padding: 20px; } }

@media screen and (max-width: 767px) {
  nav .nav__right {
    display: none !important; }
  .burger.active .nav__right {
    display: flex !important;
    flex-direction: column; }
  .burger.active .nav__link {
    margin-left: 0; }
  .nav__btn {
    margin: 25px 0; }
  .nav__socials {
    width: 204px;
    justify-content: space-between; }
  .header__box {
    margin-top: 40px;
    position: relative; }
  .header__pic {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 84px;
    opacity: 0.2; }
  .header {
    padding-bottom: 200px; }
  .mult__pic {
    width: 100%; }
  .youtube-link .svg {
    width: 100%; }
  .youtube-link {
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px; }
  .accordion-container {
    clip-path: polygon(0% 3%, 4% 0%, 96% 0%, 100% 3.5%, 100% 97%, 96% 100%, 4% 100%, 0px 98%); }
  .set > a {
    padding: 20px 0; }
  .set > a p {
    font-size: 19px;
    line-height: 27px; }
  .adaptive-table tr {
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .block__wrap {
    flex-direction: column; }
  .block__total {
    left: 0;
    top: -42px;
    margin-bottom: 25px; }
  .block {
    padding-bottom: 100px; } }

@media screen and (max-width: 576px) {
  input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  nav {
    padding: 25px 0; }
  .menu {
    top: 38px; }
  h1, h2 {
    font-size: 30px !important;
    line-height: 41px; }
  .header__btn {
    width: 100%; }
  .header__text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 22px;
    max-width: 538px; }
  .header__pic {
    left: -121px;
    top: 20px; }
  .mult__name {
    margin-bottom: 25px; }
  .mult__text {
    font-size: 16px; }
  .video__box {
    height: 400px; }
  .youtube-link {
    margin-top: -78px; }
  .map__sub {
    font-size: 16px; }
  .map, .mult {
    padding: 60px 0; }
  .map__item {
    width: 100%;
    padding: 60px 20px;
    clip-path: polygon(0% 8%, 5% 0%, 95% 0%, 100% 8%, 100% 93%, 95% 100%, 6% 100%, 0 94%); }
  .map__wrap {
    width: 100%; }
  .map__pic {
    max-width: 300px; }
  .map__box {
    margin: 60px auto 0; }
  .map__name {
    font-size: 30px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 25px; }
  .map__list li {
    font-size: 16px; }
  .items__pic {
    height: auto;
    margin-bottom: 5px;
    margin-top: 42px; }
  .items__el {
    padding: 45px 10px;
    clip-path: polygon(0% 6%, 9% 0%, 91% 0%, 100% 5%, 100% 95%, 92% 100%, 7% 100%, 0 95%); }
  .slick-dots {
    margin-bottom: -20px; }
  .slick-dots li {
    width: 15px;
    height: 15px; }
  .items__info {
    top: 24px;
    left: 50%;
    margin-left: -54px; }
  .items__name {
    line-height: 31px; }
  .faq {
    padding: 70px 0; }
  .items__slider .slick-list {
    overflow: hidden; }
  .items__slider {
    margin: 50px 0px 0; }
  .accordion-container {
    padding: 15px; }
  .set > a p {
    font-size: 16px;
    line-height: 24px; }
  .content p {
    font-size: 14px; }
  .join h2 {
    line-height: 40px; }
  .footer .nav__list {
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px; }
    .footer .nav__list li {
      margin-bottom: 20px; }
      .footer .nav__list li:last-child {
        margin-bottom: 0; }
  .join__btn {
    width: 100%; }
  .set > a {
    background-size: 30px !important;
    transition: 0s; }
  .btn2 {
    clip-path: polygon(0% 18%, 2% 0%, 98% 0%, 100% 17%, 100% 88%, 98% 100%, 2% 100%, 0 85%); }
  .mult__content {
    position: relative;
    z-index: 2; }
  .header__pic, .header__content {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  .block-wrap__pic {
    width: 100%; }
  .block-item {
    flex-direction: column; }
  .block-item__fig {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center; }
  .block-item__name {
    text-align: center; }
  .block-item__num {
    text-align: center;
    margin-top: 5px; }
  .block__flex {
    justify-content: center; }
  .block__links {
    flex-direction: column; }
  .block__links a:first-child {
    width: 180px;
    margin: 0 auto 20px;
    font-size: 12px; }
  .block__btn2 {
    max-width: 180px;
    font-size: 12px;
    margin: 0 auto; }
  .info__title {
    font-size: 21px;
    margin-bottom: 5px; }
  .arcticmodal-container_i {
    width: 100%; }
  .popup__title {
    font-size: 14px;
    line-height: 140%; } }

@media screen and (max-width: 390px) {
  .btn2 {
    clip-path: polygon(0% 23%, 5% 0%, 95% 0%, 100% 20%, 100% 84%, 95% 100%, 5% 100%, 0 80%); }
  .popup-call__box {
    clip-path: polygon(0% 3%, 4% 0%, 96% 0%, 100% 3%, 100% 98%, 96% 100%, 5% 100%, 0px 98%); } }
